{% extends "layout.html" %} {% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h3>Welcome to Udacity FullStack Nanodegree Project</h3>
                <p>In this project, Flask, SQLAlchemy and OAuth is used. In this project, User can do the following:</p>
                <ul>
                    <li>User can navigate through items, categories.</li>
                    <li>user can view individual item and category seperately.</li>
                    <li>Above feautures, does not require any kind of login.</li>
                    <li>User can login by using Github, Google or Facebook login.</li>
                    <li>After user is authorized, user can create their own categories, and items.</li>
                    <li>User can edit categories and items which were created by the user.</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <h4>All Categories</h4>
            </div>
            <div class="col-sm-6">
                <h4>All Items</h4>
            </div>
        </div>
        <hr> {% if user %}
        <div class="row">
            <div class="col-xs-12">

            </div>
            <div class="col-sm-6">
                <p>To create new categories please click <a href="{{url_for('category.category_edit')}}" class='btn btn-default btn-success'>HERE</a></p>
                <h4>User Created Categories</h4>
            </div>
            <div class="col-sm-6">
                <p>To create new categories please click <a href="{{url_for('category.category_edit')}}" class='btn btn-default btn-success'>HERE</a></p>
                <h4>User Created Items</h4>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}
