<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="781690799289-2q0asjktodv4j1nlf5vu6mu34cr1h7i2.apps.googleusercontent.com">
    <title>{% block title %}{% endblock %} Udacity FullStack NanoDegree Developer Project</title>
    <link rel="stylesheet" href="/build/css/bootstrap.min.css">
    <link rel="stylesheet" href="/build/css/font-awesome.min.css">
    <link rel="stylesheet" href="/build/css/style.min.css">
</head>

<body>
    <div class="transition-filter hidden">
        <i style="left:50%;top:50%; position:absolute; color:white;" class="fa fa-cog fa-spin fa-3x fa-fw"></i>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ItemCatalogNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand item-catalog-nav-link" href="{{url_for('main.index')}}">Item Catalog</a>
            </div>
            <div class="collapse navbar-collapse" id="ItemCatalogNavBar">
                <ul class="nav navbar-nav">
                    <li><a class='item-catalog-nav-link' href="{{url_for('main.index')}}">Home</a></li>
                    <li><a class='item-catalog-nav-link' href="{{url_for('category.category_list')}}">Categories</a></li>
                    <li><a class='item-catalog-nav-link' href="{{url_for('item.item_list')}}">Items</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                    <li><a class='item-catalog-nav-link' href="{{url_for('user.user', user_id = user.id)}}"><i class="font-awesome-nav-bar fa fa-user" aria-hidden="true"></i>My Account</a></li>
                    <li><a class='item-catalog-nav-link' href="javascript:void(0)" onclick='disconnect("{{current_provider()}}")'><i class="font-awesome-nav-bar fa fa-sign-out" aria-hidden="true"></i>Disconnect</a></li>
                    {% else %}
                    <li><a style="cursor:normal !important;" href="javascript:void(0)">Connect with:</a></li>
                    <li><a class='item-catalog-nav-link' href="javascript:void(0)" onclick='connect("facebook")'><i class="font-awesome-nav-bar fa fa-facebook-official" aria-hidden="true"></i>Facebook</a></li>
                    <li><a id="google-signin" class='item-catalog-nav-link' href="javascript:void(0)" onclick='connect("google")'><i class="font-awesome-nav-bar fa fa-google" aria-hidden="true"></i>Google</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <div class="flashes">
        {% for category, message in messages %}
        <div class="alert alert-dismissible flash-message {{category}}" role="alert">
            <button type="button" class="close" style="top:0;right:0;" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <input id='CSRFToken' type="hidden" name="CSRFToken" value="{{CSRFToken()}}">
</body>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: '1360350787321583',
            xfbml: true,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script src="/build/js/jquery.min.js" charset="utf-8"></script>
<script src="/build/js/bootstrap.min.js" charset="utf-8"></script>
<script src="/build/js/main.min.js" charset="utf-8"></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
{% block scripts %} {% endblock %}

</html>
