<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="781690799289-2q0asjktodv4j1nlf5vu6mu34cr1h7i2.apps.googleusercontent.com">
    <title>{% block title %}{% endblock %} - Udacity FullStack NanoDegree Developer Project</title>
    <link rel="stylesheet" href="/build/css/bootstrap.min.css">
    <link rel="stylesheet" href="/build/css/font-awesome.min.css">
    <link rel="stylesheet" href="/build/css/style.min.css">
    <style>
        /* Set black background color, white text and some padding */

        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ItemCatalogNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand item-catalog-nav-link" href="{{url_for('main.index')}}">Item Catalog</a>
            </div>
            <div class="collapse navbar-collapse" id="ItemCatalogNavBar">
                <ul class="nav navbar-nav">
                    <li><a class='item-catalog-nav-link' href="{{url_for('main.index')}}">Home</a></li>
                    <li><a class='item-catalog-nav-link' href="{{url_for('category.category_list')}}">Categories</a></li>
                    <li><a class='item-catalog-nav-link' href="{{url_for('item.item_list')}}">Items</a></li>
                </ul>
                <form class="navbar-form navbar-nav" role="search">
                    <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Search..">
                        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                    <li><a class='item-catalog-nav-link' href="{{url_for('user.user', user_id = user.id)}}"><i class="fa fa-user" aria-hidden="true"></i>My Account</a></li>
                    <li><a class='item-catalog-nav-link' href="javascript:void(0)" onclick='disconnect()'><i class="fa fa-sign-out" aria-hidden="true"></i>Disconnect</a></li>
                    {% else %}
                    <li><a style="cursor:normal !important;" href="javascript:void(0)">Connect with:</a></li>
                    <li><a class='item-catalog-nav-link' href="javascript:void(0)" onclick='connect("facebook")'><i class="font-awesome-nav-bar fa fa-facebook-official" aria-hidden="true"></i>Facebook</a></li>
                    <li><a id="google-signin" class='item-catalog-nav-link' href="javascript:void(0)" onclick='connect("google")'><i class="font-awesome-nav-bar fa fa-google" aria-hidden="true"></i>Google</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>

    {% if CSRFToken %}
    <input id='CSRFToken' type="hidden" name="CSRFToken" value="{{CSRFToken}}">
     {% endif %}
</body>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: '1360350787321583',
            xfbml: true,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script src="/build/js/jquery.min.js" charset="utf-8"></script>
<script src="/build/js/bootstrap.min.js" charset="utf-8"></script>
<script src="/build/js/main.min.js" charset="utf-8"></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
{% block scripts %} {% endblock %}

</html>
